<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found!</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
    <style type="text/css">
        body {
            height: 100vh;
        }
        * {
            margin: 0;
            color: #fff;
        }
        .ui.container.fluid {
            align-item: center;
        }
        img {
            max-width: 200px;
            width: 100%;
        }
        h1 {
            font-size: 6em;
            margin-bottom: 30px;
        }
        h3 {
            font-size: 2em;
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <div class="ui container fluid linear-bg">
        <img src="/assets/images/sad-face.svg" alt="">
        <h1>404</h1>
        <h3>Page Not Found!</h3>
        <p>Oops! Looks like you've entered or followed a broken URL.</p>
    </div>
</body>

</html>