<%- include('./layouts/header') %>

<div id="app">
    <div class="ui container fluid linear-bg">
        <div class="content">
            <div class="page competition">
                <h2 class="color white font-comfortaa">Will the competition and choosing the winner take place?</h2>
                <form action="/winners" method="POST" name="generate-winners"
                    enctype="application/x-www-form-urlencoded">
                    <div class="options">
                        <input type="hidden" name="winner_type" :value="chosenOption">

                        <a href="followers" v-on:click="chooseOption('followers', $event)" v-bind:class="chosenOption != null && chosenOption === 'followers' ? 'active' : ''">Followers</a>
                        <a href="tweets" v-on:click="chooseOption('tweets', $event)" v-bind:class="chosenOption != null && chosenOption === 'tweets' ? 'active' : ''">Tweets</a>
                        <a href="retweets" v-on:click="chooseOption('retweets', $event)" v-bind:class="chosenOption != null && chosenOption === 'retweets' ? 'active' : ''">Retweets</a>
                        <div class="ui input">
                            <input type="text" name="tweet_url" v-bind:style="{ display: chosenOption === 'retweets' ? 'block' : 'none' }" style="display: none;" :required="chosenOption === 'retweets'" v-model="tweetUrl" placeholder="Tweet URL">
                        </div>
                    </div>
                    <h2 class="color white font-comfortaa" style="margin-top: 50px;">Maximum number of winners?</h2>
                    <div class="">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="max_winners" v-on:change="chooseWinnersCount()">
                            <i class="dropdown icon"></i>
                            <div class="default text">Choose...</div>
                            <div class="menu">
                                <div class="item" data-value="1">1</div>
                                <div class="item" data-value="3">3</div>
                                <div class="item" data-value="5">5</div>
                                <div class="item" data-value="10">10</div>
                                <div class="item" data-value="10">20</div>
                                <div class="item" data-value="10">50</div>
                                <div class="item" data-value="10">100</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="ui medium button standard inverted" id="start-competition" v-on:click="generateRandom($event)">
                        Generate Random Winners
                        <i class="fas fa-random" style="margin-left: 10px;"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <% if(!is_cookie_accepted) { %>
        <div id="cookie-warning">
            <h5>
                This website uses cookies to ensure you get the best experience on our website.
                <a href="#">Learn More</a>
            </h5>
            <button type="button" class="ui button standard inverted" id="login-with-twitter"
                v-on:click="postCookieAccept()">Accept</button>
        </div>
    <% } %>
</div>

<%- include('./layouts/footer') %>