@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&family=Montserrat+Alternates:wght@200;300;400;600;700&family=Raleway:wght@100;300;400;600;700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.font-comfortaa {
    font-family: 'Comfortaa', sans-serif;
}

.font-montserrat-alt {
    font-family: 'Montserrat Alternates', sans-serif;
}

.color {
    &.white {
        color: #fff;
    }
}

#app {
    height: 100%;
}

.ui.container.fluid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.linear-bg {
        background: linear-gradient(135deg, #206a5d, #91d18b);
    }
    .page {
        &.home {
            text-align: center;
            overflow: hidden;
            .bg-waves {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                opacity: 0.2;
                pointer-events: none;
                overflow: hidden;
            }
            h1 {
                font-size: 36px;
            }
            a#login-with-twitter {
                margin-top: 50px;
                font-size: 20px;
                background: #1DA1F2;
                transition: background 0.3s ease-in-out;
                i {
                    margin-left: 10px;
                }
                &:hover {
                    background: #0a7ac0;
                }
            }
        }
        &.competition {
            text-align: center;
            .options {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-top: 20px;
                a {
                    color: #fff;
                    font-size: 20px;
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    &:hover {
                        color: #e11d74;
                    }
                    &.active {
                        color: #fddb3a;
                    }
                }
            }
            .ui.dropdown {
                background: rgba(0, 0, 0, 0.2);
                color: #fff;
            }
            #start-competition {
                margin-top: 50px;
            }
        }
    }
}

#cookie-warning {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, 0.1);
    h5 {
        margin: 0;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}

// Responsive
@media only screen and (max-width: 767px) {
    .ui.container.fluid {
        margin-left: unset !important;
        margin-right: unset !important;
        padding-left: 1em;
        padding-right: 1em;
    }
}